Source: tinyirc
Section: net
Priority: optional
Maintainer: Decklin Foster <decklin@red-bean.com>
Standards-Version: 3.6.2
Build-Depends: debhelper (>= 4.0.0), libncurses5-dev

Package: tinyirc
Architecture: any
Depends: ${shlibs:Depends}
Description: a tiny IRC client
 A very small, stripped down IRC client. It doesn't have most of the
 more advanced commands in the ircII family of IRC Clients, nor does
 it have any color, but it works, and it's tiny.
